#cart {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 80px;
    box-sizing: border-box;
    min-height: calc(100vh - 150px - 60px);
}
#cart h4 {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#cart .cart-container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 40px 10px;
    box-sizing: border-box;
    text-align: center;
}
#cart .cart-container p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
#cart .cart-container button {
    background-color: #c82370;
    color: #fff;
    padding: 10px;
    width: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
}
#cart .cart-container button:hover {
    background-color: #a51b5c;
}