#Navbar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#Navbar #pc-menu .n-first-l {
    display: flex;
    justify-content: end;
    height: 15%;
    max-width: 1680px;
    margin-top: 10px;
    /* background-color: tomato; */
}
#Navbar #pc-menu .n-first-l li {
    margin-right: 20px;
}
#Navbar #pc-menu .n-second-l {
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    margin: 0 auto;
    margin-bottom: 10px;
    /* background-color: violet; */
}

#Navbar #pc-menu .n-second-l input {
    width: 500px;
    font-size: 16px;
    padding: 10px 50px 10px 15px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}
#Navbar #pc-menu .n-second-l .input-btn {
    position: absolute;
    right: 15px;
    top: calc(50%-8px);
    color: #555555;
    font-size: 16px;
}
#Navbar #pc-menu .n-second-l .input-btn:hover {
    color: #0080ff;
}
#Navbar #pc-menu .n-third-l {
    /* border: 1px solid #414141; */
    background-color: #0080ff;
    color: #fff;
}
#Navbar #pc-menu .n-third-l ul{
    display: flex;
    justify-content: center;
    line-height: 36px;
    margin: 0;
    /* background-color: thistle; */
}
#Navbar #pc-menu .n-third-l li {
    margin-right: 20px;
    cursor: pointer;
}

#Navbar #pc-menu .n-third-l li button{
    margin-right: 10px;
    font-size: 18px;
}
#Navbar #pc-menu .n-third-l li:hover {
    text-decoration: underline;
    font-weight: bold;
}

#Navbar #mobile-menu {
    border-bottom: 1px solid #ebebeb;
    display: none;
}
#Navbar #mobile-menu > div:first-of-type {
    display: flex;
    justify-content: space-between;
    background-color: #0080ff;
    padding:5px 15px;
    box-sizing: border-box;
    color: #fff;
}
#Navbar #mobile-menu h1 {
    text-align: center;
}
#Navbar #mobile-menu h1 img{
    width: 120px;
}
#Navbar #mobile-menu ul {
    display: flex;
}
#Navbar #mobile-menu ul li:first-of-type {
    margin-right: 10px;
}
#Navbar #mobile-menu ul li button {
    color: #fff;
}
#Navbar #mobile-menu .m-menu-btn {
    height: 18.5px;
    color: #fff;
}
#mobile-menu-list {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 80vw;
    height: 100vh;
    padding: 30px;
    padding-top: 50px;
    box-sizing: border-box;
}
#mobile-menu-list ul li {
    font-size: 16px;
    margin-bottom: 15px;
}
.m-close-btn {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 20px;
}

@media (max-width: 870px) {
    #Navbar #pc-menu .n-second-l input {
        width: 400px;
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    #Navbar #pc-menu .n-second-l input {
        width: 300px;
        font-size: 15px;
    }
}
@media (max-width: 540px) {
    #Navbar {
        height: auto;
    }
    #Navbar #pc-menu {
        display: none;
    }
    #Navbar #mobile-menu {
        display: block;
    }
}