@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family:'HallymGothic-Regular';
    font-size: 14px;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

#books-all-container>ul{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}